* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: url("https://thumbs.gfycat.com/EntireLateAidi-size_restricted.gif") repeat fixed;
    background-color: #008080;
    background-size: cover;
    margin: 0;
    font: normal 13px/1.3;
    overflow: hidden;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .icons,
  .note_one,
  .note_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
  }
  
  .icons {
    width: 100px;
    float: left;
    position: fixed;
    left: 0%;
    top: 2.5%;
    z-index: 2;
  }
  
  .my_computer,
  .network_neighborhood,
  .recycle_bin,
  .start_menu,
  .application_icons,
  .start_bar .start_button .logo,
  .start_bar .tray .calendar,
  .start_menu,
  .window .top,
  .window .middle,
  .window .bottom,
  .description .top,
  .description .ok_button,
  .description .bottom {
    background-image: url("//static.tumblr.com/fpdiq1j/O6Um4f3al/master_sprite.png");
    margin: auto;
  }
  
  .my_computer {
    height: 32px;
    width: 32px;
    background-position: -616px -157px;
  }
  
  .contact_me {
    height: 32px;
    width: 32px;
    background-image: url("src/icons/network.png");
    margin: auto;
  }
  
  .recycle_bin {
    height: 32px;
    width: 30px;
    background-position: -616px -251px;
  }
  
  .linkedin {
    height: 32px;
    width: 32px;
    background-image: url("src/icons/ie.png");
    margin: auto;
  }
  
  .github {
    height: 32px;
    width: 32px;
    background-image: url("src/icons/cmd.png");
    margin: auto;
  }
  
  .note_one,
  .note_two {
    width: 70px;
  }
  
  .note_one {
    position: fixed;
    right: 10%;
    top: 50%;
  }
  
  .note_two {
    position: fixed;
    right: 15%;
    top: 40%;
  }
  
  .notepad_one,
  .notepad_two {
    height: 32px;
    width: 32px;
    background-image: url("src/icons/notepad.png");
    margin: auto;
  }
  
  .start_bar .start_button .logo {
    width: 16px;
    height: 14px;
    background-position: -633px -103px;
  }
  
  .application_icons {
    height: 16px;
    width: 84px;
    background-position: -565px -69px;
  }
  
  .start_bar .tray .calendar {
    height: 16px;
    width: 16px;
    background-position: -632px -87px;
  }
  
  .start_menu {
    height: 383px;
    width: 168px;
    background-position: 0px 0px;
  }
  
  .window .top {
    height: 44px;
    background-position: -168px 0px;
  }
  
  .description .top {
    height: 21px;
    background-position: -168px -134px;
  }
  
  .description .ok_button {
    height: 23px;
    width: 75px;
    margin-top: 7px;
    background-position: -231px -158px;
    cursor: pointer;
  }
  
  .description .bottom {
    height: 2px;
    background-position: -168px -155px;
  }
  
  .window .middle,
  div.notes,
  div.attribution,
  div.tags {
    background: url("//static.tumblr.com/fpdiq1j/utSm3gwcy/large_middle.png");
    background-repeat: repeat-y;
  }
  
  .window .bottom {
    background-position: -168px -46px;
    height: 22px;
  }
  
  .icon_label {
    padding-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .icons a {
    text-decoration: none;
    margin-bottom: 15px;
  }
  
  .title {
    font-size: 1.25em;
    margin-bottom: 5px;
  }
  
  img.full_image {
    width: 100%;
  }
  
  .body img,
  .caption img {
    max-width: 100%;
    overflow: hidden;
  }
  
  #desktop,
  .navigation {
    margin: 20px auto;
    z-index: 3;
    position: relative;
    width: 1000px;
    width: 480px;
    left: 10px;
  }
  
  .window,
  .window_one {
    width: 480px;
    max-width: 480px;
    position: fixed;
    top: 10%;
    cursor: default;
  }
  
  .window_two {
    position: fixed;
    top: 45%;
    left: 14.5%;
    cursor: default;
  }
  
  .window .top {
    height: 44px;
  }
  
  .window .top .info {
    top: 26px;
    left: 10px;
    position: relative;
    width: 300px;
    z-index: 4;
    font-size: 11px;
    line-height: 13px;
  }
  
  .window > a {
    color: #000000;
    text-decoration: none;
  }
  
  .window .top a:hover {
    text-decoration: underline;
  }
  
  .window > .x {
    height: 16px;
    width: 50px;
    position: absolute;
    top: 1.5%;
    right: 1.5%;
    cursor: pointer;
  }
  
  .description > .x {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    cursor: pointer;
  }
  
  .window .middle,
  div.notes,
  div.attribution,
  div.tags {
    background-repeat: repeat-y;
    padding: 4px 26px 4px 10px;
  }
  
  .middle .caption {
    margin-top: 5px;
    display: flex;
  }
  
  .wrapper {
    display: flex;
  }
  
  .description .middle,
  .rc-scout .rc-scout__text {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .window .bottom {
    height: 22px;
  }
  
  .description {
    position: fixed;
    top: 40%;
    right: 20%;
    z-index: 4;
    width: 200px;
  }
  
  .description .middle {
    background: url("//static.tumblr.com/fpdiq1j/leqm4f39j/description_middle.png")
      repeat-y;
    padding: 5px;
    max-width: 190px;
    font-size: 11px;
  }
  
  .start_bar {
    position: fixed;
    background-color: rgb(192, 192, 192);
    bottom: 0;
    width: 100%;
    z-index: 4;
  }
  
  .start_menu {
    position: fixed;
    z-index: 3;
    bottom: 28px;
    display: none;
  }
  
  .start_bar .top_border {
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(223, 223, 223);
  }
  
  .start_bar .start_button {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    height: 18px;
    width: 54px;
    margin: 2px;
    cursor: pointer;
  }
  
  .start_button > .logo {
    margin: 1px;
    min-width: 14px;
  }
  
  .start_button > .text {
    margin-right: 1px;
  }
  
  .sb_click {
    border-bottom: 2px solid white !important;
    border-right: 2px solid white !important;
    border-top: 2px solid gray !important;
    border-left: 2px solid gray !important;
  }
  
  .start_bar .start_button .text {
    float: right;
    display: inline;
    line-height: 18px;
    font-weight: bold;
  }
  
  .start_bar .big_separator {
    float: left;
    border-left: 1px solid rgb(128, 128, 128);
    border-right: 1px solid rgb(255, 255, 255);
    height: 22px;
    margin-top: 2px;
    margin-left: 2px;
  }
  
  .start_bar .small_separator {
    float: left;
    border-left: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(128, 128, 128);
    border-bottom: 1px solid rgb(128, 128, 128);
    background-color: rgb(192, 192, 192);
    width: 1px;
    height: 16px;
    margin-top: 4px;
    margin-left: 2px;
  }
  
  .start_bar .application_icons {
    float: left;
    margin: 5px;
  }
  
  .start_bar .tray {
    float: right;
    border-top: 1px solid rgb(128, 128, 128);
    border-left: 1px solid rgb(128, 128, 128);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    height: 18px;
    width: 79px;
    margin-right: 5px;
    margin-top: 2px;
  }
  
  .start_bar .tray .time {
    line-height: 18px;
    float: right;
    font-size: 10px;
    margin-right: 10px;
  }
  
  .start_bar .tray .calendar {
    float: left;
    margin-top: 1px;
    margin-left: 3px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headshot {
    height: 375px;
    width: 250px;
  }
  
  .hidden {
    display: none !important;
  }
  
  .loading {
    cursor: url("src/w98busy.cur"), help;
  }
  
  .no_click {
    pointer-events: none;
  }
  
  .ui-loader,
  .ui-icon-loading {
    display: none !important;
  }
  
  .ui-page .ui-page-theme-a .ui-page-active {
    min-height: fit-content;
    height: auto;
  }
  
  @media only screen and (max-width: 500px) {
    .window_two,
    .note_two {
      display: none;
    }
  
    .window_one {
      top: 5%;
      left: 27.5%;
    }
  
    .window_one .middle > div {
      width: 250px;
      text-overflow: clip;
    }
  
    .note_one {
      top: 50%;
      right: 10%;
    }
  
    .description {
      top: 50%;
      right: 10%;
    }
  }
  